body {
    background-image: url('index-IMG/13379695_5204706.jpg');
    /* background-size: cover; para que cubra toda la pagina
    background-position: center; para la alineacion
    background-repeat: no-repeat; para que no se repita la imagen*/
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
header{
    background-color: aqua;
}
nav{
    background-image: url('index-IMG/espacio.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    padding: 2%;
    width: 100%;
    margin: 0%;
    font-family: fantasy;  
}
p{
    padding-top: 15%;
    font-size: large;
    font-size-adjust: none;
    text-align: left;
    color: yellowgreen;
}
header button{
    background-color: #c42f7b;
    border: #5ad48f;
}
#principal {
    background-color: #c42f7b;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

#descipcion {
    border: 1px solid #5ad48f;
    background-color: transparent;
    padding: 2%;
    flex: 1 0 calc(50% - 2%); /* Ancho del 50% con espacio para el margen */
    margin-right: 2%;
    box-sizing: border-box; /* Para incluir padding en el ancho */
}

#carrusel {
    border: 1px solid #5ad48f;
    padding: 2%;
    flex: 1 0 calc(50% - 2%); /* Ancho del 50% con espacio para el margen */
    box-sizing: border-box; /* Para incluir padding en el ancho */
}
#form-control{
    background-color: transparent;
}
#form-control::placeholder{
    color: #28a745;
}
.carousel-inner {
    width: 100%;
    height: 100%;
}

.d-block {
    width: 100%;
    height: 100%;
}
.carousel-item img {
    width: 100%; /* Establecemos un ancho del 100% para que ocupen todo el ancho del carrusel */
    height: 400px; /* Ajustamos la altura del 100% para mantener la proporción de la imagen */
    /*object-fit: cover; /* Redimensionar y recortar la imagen para que se ajuste dentro del carrusel */
}
.text-stroke {
    color: #28a745; /* Color del contorno del texto */
    -webkit-text-stroke: 2px black; /* Tamaño y color del contorno del texto para navegadores WebKit (Safari, Chrome) */
    text-stroke: 2px black; /* Tamaño y color del contorno del texto para navegadores estándar */
}

#btn-buscar:hover{
    background-color: #c42f7b;
 }


/*velas html*/
#dropdown-menu{
    background-image: url('index-IMG/espacio.jpg');
    
}
a .dropdown-item{
   
}
.Lista-Card {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    background-color: transparent;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    flex: 1 0 calc(25% - 2%);/*25 porque son 4 en una caja y -2 por el padding y el margin*/
    padding: 1%;
    background-color: #28a745;
    box-sizing: border-box;
    margin: 1%;
}

.img {
    width: 100%;
    height: 200px; /* Ajustar la altura deseada para las imágenes */
    overflow: hidden; /* Para recortar las imágenes que puedan exceder la altura */
}

.img img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; Ajustar la imagen para que ocupe todo el espacio y se recorte si es necesario *//*no quiero recorte*/
}

.card-body {
    width: 100%;
    box-sizing: border-box;
    background-color: #c42f7b;
    padding: 1%; /* Ajustar el espaciado del texto dentro de la tarjeta */
}

.card-text {
    font-size: 14px; /* Ajustar el tamaño de la fuente según sea necesario */
    text-align: justify;
    color: yellowgreen;
}





